
www.envirocar.org envirocar.org {

    bind 0.0.0.0

    header / {
        Strict-Transport-Security "max-age=31536000;"
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Content-Security-Policy "default-src https:"
        -Server
    }

    log / stdout "{combined}"

    proxy /auth-proxy auth-proxy:9999 {
        transparent
    }

    proxy /api/dev api-dev:8080 {
        transparent
        without /api/dev
        header_upstream X-Forwarded-Prefix /api/dev
    }

    proxy /api/stable api-stable:8080 {
        transparent
        without /api/stable
        header_upstream X-Forwarded-Prefix /api/stable
    }

    proxy /api/anonymous api-anonymous-stable:8080 {
        transparent
        without /api/anonymous
        header_upstream X-Forwarded-Prefix /api/anonymous
    }
    
    proxy /api/anonymous-dev api-anonymous-dev:8080 {
        transparent
        without /api/anonymous-dev
        header_upstream X-Forwarded-Prefix /api/anonymous-dev
    }

    proxy /app webapp:80 {
        transparent
        without /app
    }

    redir 302 {
        /app /app/
    }

    proxy / landingpage:80 {
        transparent
    }
    
    proxy /citram citram-website:80 {
        transparent
        without /citram
    }
    
}

www.citram.de citram.de {
        
    bind 0.0.0.0

    log / stdout "{combined}"

    header / {
        Strict-Transport-Security "max-age=31536000;"
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Content-Security-Policy "default-src https:"
        -Server
    }
    
    proxy / citram-website:80 {
        transparent
    }

}
