processing.envirocar.org:80, processing.envirocar.org:443 {

    proxy /kibana kibana:5601 {
        without /kibana
    }

    ipfilter /kibana {
        rule allow
        ip 80.156.182.234
    }

    proxy /auth-proxy auth-proxy:9999 {
        transparent
    }

    proxy /jenkins jenkins:8080 {
        transparent
    }

    ipfilter /jenkins {
        rule allow
        ip 80.156.182.234
    }

    proxy /geoserver geoserver:8080 {
        transparent
    }

    proxy /dms dsm:8080 {
        transparent
        without /dms
        header_upstream X-Forwarded-Prefix /dms
    }


    proxy /ums usm:8080 {
        transparent
        without /ums
        header_upstream X-Forwarded-Prefix /ums
    }

    proxy /app webapp:80 {
        transparent
        without /app
    }

    proxy / landingpage:80 {
        transparent
    }

 
}

