processing.envirocar.org:80, processing.envirocar.org:443, localhost:80, localhost:443 {

    proxy /kibana kibana:5601 {
        without /kibana
    }

    ipfilter /kibana {
        rule allow
        ip 80.156.182.234
    }

    tls self_signed

}

