processing.envirocar.org:80, processing.envirocar.org:443 {

    proxy /kibana kibana:5601 {
        without /kibana
    }

    ipfilter /kibana {
        rule allow
        ip 80.156.182.234
    }

    proxy /auth-proxy auth-proxy:9999 {
        transparent
    }

    proxy /jenkins jenkins:8080 {
        transparent
    }

    ipfilter /jenkins {
        rule allow
        ip 80.156.182.234
    }

    proxy /geoserver geoserver:8080 {
        transparent
    }

    proxy /dsm dsm:8080 {
        transparent
        without /dsm
        header_upstream X-Forwarded-Prefix /dsm
    }


    proxy /usm usm:8080 {
        transparent
        without /usm
        header_upstream X-Forwarded-Prefix /usm
    }

    proxy /app webapp:80 {
        transparent
        without /app
    }

    proxy / landingpage:80 {
        transparent
    }

 
}

