
http://processing.envirocar.org https://processing.envirocar.org

bind 0.0.0.0

log / stdout "{combined}"

redir 302 {
    /app /app/
}

proxy /kibana kibana:5601 {
    without /kibana
}

ipfilter /kibana {
    rule allow
    # 52N Office, envirocar.org, Docker
    ip 80.156.182.234 116.202.82.136 172.16.0.0/12
}

proxy /auth-proxy auth-proxy:9999 {
    transparent
}

proxy /jenkins jenkins:8080 {
    transparent
}

ipfilter /jenkins {
    rule allow
    # 52N Office, envirocar.org, Docker
    ip 80.156.182.234 116.202.82.136 172.16.0.0/12
}

proxy /geoserver geoserver:8080 {
    transparent
}

cors /geoserver {
    origin http://processing.envirocar.org https://processing.envirocar.org 
    origin http://envirocar.org https://envirocar.org
}

proxy /dsm dsm:8080 {
    transparent
    without /dsm
    header_upstream X-Forwarded-Prefix /dsm
}

proxy /usm usm:8080 {
    transparent
    without /usm
    header_upstream X-Forwarded-Prefix /usm
}

proxy /app webapp:80 {
    transparent
    without /app
}

proxy / landingpage:80 {
    transparent
}

proxy /mapmatching mapmatching:8080 {
    transparent
}

proxy /vehicles vehicles:8080 {
    transparent
    without /vehicles
    header_upstream X-Forwarded-Prefix /vehicles
}

